/* Build the road */
/* Black road with green sides */
/* Lane stripes */

body {
  background-color: green;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: white;
}

/* canvas {
  width: 500px;
  height: 500px;
  padding: 0;
  margin: auto;
  display: block;
} */

header {
  width: 100%;
  display: block;
  height: 50px;
  background-color:yellow;
  margin-bottom: 1%;
  padding-bottom: 1%;
  padding-left: 1.5%;
}

.road div {
  background: url(/images/3_lane_road.png) repeat center center fixed; 
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  /* width:  600vh;
  height: 800vh;
  margin-right: 1%;
  display: inline-block; */
  -webkit-animation:160s scroll infinite linear reverse;
  -moz-animation:160s scroll infinite linear reverse;
  -o-animation:160s scroll infinite linear reverse;
  -ms-animation:160s scroll infinite linear reverse;
  animation:160s scroll infinite linear reverse;
  margin: 0 auto;
  position: relative;
  height: 400px;
  width: 800px;
  
  background-color: orange;
}

.cars div {
  width:  10vh;
  height: 20vh;
  margin-right: 1%;
  display: inline-block;
  background-color: blue;
}

.motorcycle div {
  width:  5vh;
  height: 10vh;
  margin-right: 1%;
  display: inline-block;
  background-color: red;
}

/* .play {
  display: flex;
  position: absolute;
  top: 300;
  left: 150
}

#game-over {
  display: none;
  position: absolute;
  top: 250;
  left: 200;
  color: red;
} */